*{
    font-family:  Helvetica;
}


h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1xagmm2*_ga*NzMyNDUwNzg2MC4xNjU2MDkxNzMy*_ga_3LRZM6TM9L*MTY3OTM0NDk1NS4xNDUuMS4xNjc5MzQ1MDk5LjU0LjAuMA..);
}

div h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brushes{
    background-color: mediumspringgreen;
}
.price{
    font-weight: bold;
    color: blue;
}
.frames{
    background-color: lightcoral;
}
.paint{
    background-color: skyblue;
}